:root {
    color-scheme: light dark;
     --color-primary: hotpink;

}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

header,
main,
form {
    box-sizing: border-box;
    width: min(60ch, 100%);
    margin: auto;
    padding: 1ch 2ch;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 1ch;
}

a {
    text-decoration: none;
    color: inherit
}

button.primary {
    background-color: var(--color-primary);
}

button.secondary {
    background-color: transparent;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5ch;
    margin-bottom: 1ch;
    border: 1px solid var(--color-primary);
    border-radius: 0.5ch;
}

ol {
    padding-inline-start: 2ch;
}

#todo_list li {
    cursor: pointer;
}

#todo_list li a.done {
    text-decoration: line-through;
    color: gray;
}

#todo_list li a.todo {
    font-weight: bold;
}

#todo_list li:hover {
    color: var(--color-primary);
}
