{{ define "content" }}
<header>
    <h1 style="display: flex; justify-content: space-between; align-items: baseline;">
        <span>
            TODOs
        </span>
        <span>
            <button class="primary">
                <a href="add.html">
                    <span>
                        Add
                    </span>
                </a>
            </button>
        </span>
    </h1>
</header>
<br>
<main>
    <form id="filter_form" method="get" action="index.html">
        <input type="text" id="filter_input" name="filter" value="{{ .Filter }}">
        <button class="primary" type="submit">Apply filter</button>
    </form>
    <br>
    <ol id="todo_list">

        {{ range .Items }}
        <li class="{{ if .Done }}done{{ else }}todo{{ end }}">
            <a href="edit.html?key={{ .ID }}">
                {{ .Short }}
            </a>
            <a href="/toggle/?key={{ .ID }}" title="Toggle">
                {{ if .Done }}✅{{ else }}⬜{{ end }}
            </a>
            <a href="delete.html?key={{ .ID }}" title="Delete">
                🗑️
            </a>
        </li>
        {{ else }}
        <li>

        </li>
        {{ end }}

    </ol>
</main>
{{ end }}