{{ define "content" }}
<header>
    <h1>TODOs</h1>
    <form id="filter_form" method="get" action="search.html">
        <label for="filter_input">Filter:</label>
        <input type="text" id="filter_input" name="filter" required>
        <button type="submit">Apply</button>
    </form>

</header>
<main>
    <ol id="todo_list">
        {{ range .Items }}
        <li class="{{ if .Done }}done{{ else }}todo{{ end }}">
            <a href="edit.html?key={{ .ID }}">
                {{ .Short }}
            </a>
            <a href="/toggle/?key={{ .ID }}" title="Toggle">
                {{ if .Done }}✅{{ else }}⬜{{ end }}
            </a>
            <a href="delete.html?key={{ .ID }}" title="Delete">
                🗑️
            </a>
        </li>
        {{ else }}
        <li>
            No todos yet.
        </li>
        {{ end }}
        <li class="todo">
            <a href="add.html">
                <span>
                    ➕
                </span>
                <span>
                    Add Item
                </span>
            </a>
        </li>
    </ol>
</main>
{{ end }}