{{ define "content" }}
<header>
    <h1>Search</h1>
    <form id="filter_form" method="get" action="search.html">
        <input type="text" id="filter_input" name="filter" value="{{ .Filter }}" >
        <button class="primary" type="submit">Apply</button>
    </form>
</header>
<main>
    <ol id="todo_list">
        {{ range .Items }}
        <li>
            <a href="/toggle/?key={{ .ID }}" title="Toggle">
                {{ if .Done }}✅{{ else }}⬜{{ end }}
            </a>
            <a class="{{ if .Done }}done{{ else }}todo{{ end }}" href="edit.html?key={{ .ID }}">
                {{ .Short }}
            </a>
            <a href="delete.html?key={{ .ID }}" title="Delete">
                🗑️
            </a>
        </li>
        {{ else }}
        <li>
            No todos found.
        </li>
        {{ end }}
    </ol>
</main>
{{ end }}