{{ define "content" }}
<header>
    <h1>TODOS</h1>
    <form id="filter_form" method="get" action="search.html">
        <label for="filter_input">Filter:</label>
        <input type="text" id="filter_input" name="filter" value="{{ .Filter }}">
        <button class="primary" type="submit">Apply</button>
        <a href="/index.html">
            <button type="button">Back</button>
        </a>
    </form>
</header>
<main>
    <ol id="todo_list">
        {{ range .Items }}
        <li class="{{ if .Done }}done{{ else }}todo{{ end }}">

            <a href="edit.html?key={{ .ID }}">
                {{ .Short }}
            </a>
            <a href="/toggle/?key={{ .ID }}" title="Toggle">
                {{ if .Done }}✅{{ else }}⬜{{ end }}
            </a>
            <a href="delete.html?key={{ .ID }}" title="Delete">
                🗑️
            </a>
        </li>
        {{ else }}
        <li>
            No todos found.
        </li>
        {{ end }}
    </ol>
</main>
{{ end }}